* {
  box-sizing: border-box;
    margin : 2px;
}
/* traits en noirs entourant les zones */
header, footer, #versions_pokemon {
  border : 1px solid black;
}

body {
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex-direction: column;
}

/* taille minimale des zones : responsive */
header, footer {
  height: 13vh;
}

/* header flex avec 3 blocs horizontaux */
header {
  display: flex;
  justify-content: center;
  min-height: 100px;
}

/* image pikachu en haut à gauche */
.img {
  display:block;
  height:90px;
  width:120px ;
  min-width: 100px;
  padding-top: 10px;
  border: 3px groove lightcoral;
  border-radius:1px;
  box-shadow: 1px 1px 1px red;
  background-image:url("pika2.png");
}

.img:hover {
  background-image:url("pika3.png");
}

.nom {
  height:100px;
  width:900px ;
  text-align: center;
  margin-bottom:20%;
}

.identification {
  border: 3px groove lightcoral;
  border-radius:1px;
  box-shadow: 1px 1px 1px red;
  height:85px;
  width:0px ;
  display : flex;
  flex-direction: row;
  width:300px;
  padding-top: 2px;
}

.avatar {
  border:1px solid gray;
  max-width:100px;
  max-height:100px;
}

.connexion {
  text-align: right;
}

article {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:1;
  margin : 10px;
}

.recherche {
  display:flex;
  min-height:50px;
  width : 99%;
  justify-content: flex-end;
  border: 1px black solid;
}

.recherche>div {
  margin-left:50px;
  margin-right: 50px;
}

#version-pokemon>div {
  margin:5px;
  text-align: center;
}


/*mise en forme du menu */

footer {
  display:flex;
  justify-content:flex-end;
}
footer > div {
  margin : 10px;
}

footer :nth-child(1) {
  order:2;
}
footer :nth-child(2) {
  order:3;
}
footer :nth-child(3) {
  order:1;
}

/*mise en forme du menu */

#menu ul {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
  }
 #menu li {
  float:left;
  margin:auto;
  padding:0;
  background-color:white;
  }
 #menu li a {
  display:block;
  width:100px;
  color:black;
  text-decoration:none;
  padding:5px;
  }
 #menu li a:hover {
  color:#13E5E1;
  }
  #menu ul li ul {
   display:none;
   }
   #menu ul li:hover ul {
display:block;
}
#menu li:hover ul li {
float:none;
}

#menu {
 margin-right: 60px;
 width: 120px;
 border: 1px solid black;
}

#menu {
 float : right;
 font-family: fantasy;
}

#titre_soluce {
  font-size:16px ;
  font-family:"Arial";
  font-style: italic;
  color: #ee5220;
}

.forum {
  display : flex;
  justify-content: flex-start;
}

.forum > div {
  margin : 5px;
  padding : 0 10%;
  white-space: nowrap;
  overflow: hidden;
}

p {
  margin-left: 50px;
}

table {
  width:100%;
  font-size:13px;
}

#table_titre{
  font-size: 20px;
  font-weight: bold;
  color : red;
  border : 1px solid black;
}


tr {
  border: 1px solid black;
}
